<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj karakter</title>
    <!-- Side-titel, der vises i browserens fane -->
</head>
<body>

<h1>Tilføj en ny karakter</h1>
<!-- Overskrift for siden -->

<!-- Formular til tilføjelse af et nyt programmeringssprog. Thymeleaf bruges til at håndtere dataoverførslen mellem server og klient. -->
<form action="#" th:action="@{/marvelcharacters/save}" th:object="${marvelcharacter}" method="post">
    <!-- Inputfelt for navnet på den nye karakter -->
    <label for="name">Navn:</label>
    <input type="text" id="name" th:field="*{Marvelcharacter.name}" />

    <!-- Inputfelt for alias for den nye karakter -->
    <label for="alias">Alias:</label>
    <input type="text" id="alias" th:field="*{Marvelcharacter.alias}" />

    <!-- Inputfelt for powers for den nye karakter -->
    <label for="powers">Powers:</label>
    <input type="text" id="powers" th:field="*{Marvelcharacter.powers}" />

    <!-- Inputfelt for alignment for den nye karakter -->
    <label for="alignment">Alignment:</label>
    <input type="text" id="alignment" th:field="*{Marvelcharacter.alignment}" />

    <!-- Submit-knap for at sende formular data til serveren for behandling og tilføjelse af det nye sprog til databasen -->
    <button type="submit">Gem</button>
</form>

<!-- Link til at vende tilbage til listen over karaktere -->
<a href="/">Tilbage til listen</a>

</body>
</html>
